<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snxy.manage.business.dao.mapper.PayTotalMapper">
  <resultMap id="BaseResultMap" type="com.snxy.manage.business.domain.PayTotal">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="source_order_no" jdbcType="VARCHAR" property="sourceOrderNo" />
    <result column="source_order_type" jdbcType="INTEGER" property="sourceOrderType" />
    <result column="pay_fee" jdbcType="INTEGER" property="payFee" />
    <result column="refund_fee" jdbcType="INTEGER" property="refundFee" />
    <result column="net_pay_fee" jdbcType="INTEGER" property="netPayFee" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, source_order_no, source_order_type, pay_fee, refund_fee, net_pay_fee, pay_status, 
    gmt_modified, gmt_create, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_total
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pay_total
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.snxy.manage.business.domain.PayTotal">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pay_total (source_order_no, source_order_type, pay_fee, 
      refund_fee, net_pay_fee, pay_status, 
      gmt_modified, gmt_create, is_delete
      )
    values (#{sourceOrderNo,jdbcType=VARCHAR}, #{sourceOrderType,jdbcType=INTEGER}, #{payFee,jdbcType=INTEGER}, 
      #{refundFee,jdbcType=INTEGER}, #{netPayFee,jdbcType=INTEGER}, #{payStatus,jdbcType=INTEGER}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.snxy.manage.business.domain.PayTotal">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pay_total
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sourceOrderNo != null">
        source_order_no,
      </if>
      <if test="sourceOrderType != null">
        source_order_type,
      </if>
      <if test="payFee != null">
        pay_fee,
      </if>
      <if test="refundFee != null">
        refund_fee,
      </if>
      <if test="netPayFee != null">
        net_pay_fee,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sourceOrderNo != null">
        #{sourceOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="sourceOrderType != null">
        #{sourceOrderType,jdbcType=INTEGER},
      </if>
      <if test="payFee != null">
        #{payFee,jdbcType=INTEGER},
      </if>
      <if test="refundFee != null">
        #{refundFee,jdbcType=INTEGER},
      </if>
      <if test="netPayFee != null">
        #{netPayFee,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.snxy.manage.business.domain.PayTotal">
    update pay_total
    <set>
      <if test="sourceOrderNo != null">
        source_order_no = #{sourceOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="sourceOrderType != null">
        source_order_type = #{sourceOrderType,jdbcType=INTEGER},
      </if>
      <if test="payFee != null">
        pay_fee = #{payFee,jdbcType=INTEGER},
      </if>
      <if test="refundFee != null">
        refund_fee = #{refundFee,jdbcType=INTEGER},
      </if>
      <if test="netPayFee != null">
        net_pay_fee = #{netPayFee,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.snxy.manage.business.domain.PayTotal">
    update pay_total
    set source_order_no = #{sourceOrderNo,jdbcType=VARCHAR},
      source_order_type = #{sourceOrderType,jdbcType=INTEGER},
      pay_fee = #{payFee,jdbcType=INTEGER},
      refund_fee = #{refundFee,jdbcType=INTEGER},
      net_pay_fee = #{netPayFee,jdbcType=INTEGER},
      pay_status = #{payStatus,jdbcType=INTEGER},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>